* {
    p{text-align: center;
    color: rgb(146, 211, 72);}

    h2{
        color: rgb(211, 148, 67);
    }
}

body {
    background: rgb(97, 95, 95);
}

h1 {
    color: rgb(240, 92, 66);
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 10px;
}

ul {
    color: aqua;
    text-align: center;
    list-style-type: none;
}
