:root {
    --primary-color: rgb(19, 180, 40);
    --secunda-color: rgb(240, 92, 66);
    --ter-color: rgb(170, 170, 89);
    --primary-color-darker: rgb(204, 113, 110);

}

* {
    box-sizing: border-box;

}

body {
    background: rgb(97, 95, 95);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: var(--secunda-color);
    text-align: center;
    padding: 10px;
}

h3 {
    color: var(--primary-color);
}

.dados {
    justify-content: space-between;
    text-align: center;
    display: flex;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: rgb(95, 54, 54);
    padding: 20px;
    border-radius: 10px;
}

.item {
    flex: 1; /* Garante que cada item ocupe o mesmo espaço */
    padding: 10px; /* Adiciona um pouco de espaço interno */
  }
/* Esterilização do formulário*/
form input, form label, form button{

    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 30px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--ter-color);
}

form button {
    border: none;
    background: var(--ter-color);
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

